<div class="container pt-3">
  <div class="card justify-content-center">
    <div class="card-body">
      <div class="card-img-top">
        <video class="img-fluid" playsinline autoplay muted loop>
          <source src="./assets/video/cover/covervideo1.mp4" type="video/mp4" />
          >
        </video>
      </div>

      <h4 class="card-title text-center pt-2">Happiness</h4>
      <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis
        pharetra risus eget tincidunt. Nulla semper enim sed dui pretium
        molestie. Nam id augue leo. Nunc dapibus dui odio, sit amet lacinia
        risus bibendum vitae. Nulla sodales arcu eget imperdiet hendrerit. Sed
        vitae nisi ultricies, varius augue at, dignissim enim. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Cras nec consequat
        nibh, id dictum purus. Aliquam sit amet lobortis mauris. Mauris quis
        ornare dolor, et luctus metus. Nullam eu metus magna. Suspendisse
        pulvinar id est vitae efficitur. Vivamus imperdiet sodales dui vitae
        porttitor. Sed pretium urna ac egestas ornare. Phasellus euismod, elit
        vitae eleifend volutpat, nunc est laoreet tortor, et eleifend libero leo
        eu enim. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae;
      </div>
    </div>
  </div>
</div>
