<div class="container">
    <div class="row h-100 justify-content-center">
        
        <carousel [height] = '1000' [cellWidth] ="500">
            <div class ="d-flex">

            </div>
                <div class="carousel-cell">
                    <a href="./1">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="./assets/img/1.jpg" alt="" class="img-fluid w-100">
                            </div>
                            
                            <div class="card-body">
                                <h4 class="card-title">Happiness</h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Sed fringilla velit vitae nunc accumsan convallis. 
                                Morbi nec scelerisque ex. Sed lobortis congue lacus ut malesuada. 
                                Nunc suscipit lacus leo, ut dignissim erat imperdiet nec. 
                                Sed volutpat in metus et imperdiet. Quisque nec auctor ex, in maximus tellus. 
                                Proin eu nunc ultricies, tincidunt purus vel, luctus enim.
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="carousel-cell">
                    <a href="./2">
                        <div class="card">
                            <div class="card-img-top">
                                <video class="img-fluid" playsinline autoplay muted loop>
                                    <source src="./assets/video/video2.mp4" type="video/mp4">>
                                </video>
                            </div>
                            
                            <div class="card-body">
                                <h4 class="card-title">Relaxation</h4>
                                Pellentesque eget nibh in massa eleifend viverra. 
                                Duis varius volutpat tempor. Vivamus feugiat eleifend hendrerit. 
                                Quisque in nunc eu orci varius faucibus. Sed eu dui nunc. 
                                Curabitur iaculis accumsan nisl, sit amet tristique ipsum tincidunt vel. 
                                Mauris eget ligula ultrices, aliquet nibh id, congue neque. 
                                In tincidunt placerat mattis. 
                                Vestibulum auctor bibendum lacinia. 
                                Nulla et laoreet risus.
                            </div>
                        </div>
                    </a>
                    
                </div>
                
                
                <div class="carousel-cell">
                    <a href="./3">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="./assets/img/3.jpg" alt="" class="img-fluid w-100">  
                            </div>
                            
                            <div class="card-body">
                                <h4 class="card-title">Joy</h4>
                                Ut bibendum venenatis risus, a tempor elit porta ut. 
                                Morbi accumsan leo nec quam dignissim sagittis. 
                                Suspendisse rutrum sodales quam, id porttitor eros bibendum id. 
                                Vivamus sit amet velit eget ex auctor pellentesque id sit amet enim. 
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                                Duis mattis dui eu urna mollis lobortis. 
                                Aenean sed tellus ut urna vulputate bibendum.
                            </div>
                    </div>
                    </a>
                    
                </div>
                
                <div class="carousel-cell">
                    <a href="./4">
                        <div class="card">
                            <div class="card-img-top">
                                <video class="img-fluid w-100" playsinline autoplay muted loop>
                                    <source src="./assets/video/video1.mp4" type="video/mp4">>
                                </video>
                            </div>
    
                            <div class="card-body">
                                <h4 class="card-title pt-3">Thoughtful</h4>
                                    Ut finibus hendrerit aliquet. 
                                    Curabitur semper viverra consectetur. 
                                    Proin vel risus scelerisque, condimentum libero sed, aliquam dui. 
                                    Maecenas vitae congue nisl. 
                                    Aliquam nec lectus vitae risus posuere condimentum. 
                                    Nullam vitae lacus at metus euismod dictum quis at tellus. 
                                    Donec.
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-cell">
                    <a href="./5">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="./assets/img/2.jpg" alt="" class="img-fluid w-100"> 
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pt-3">Wind In Your Hair</h4>
                                Quisque nisl libero, ornare porta nisl ac, pharetra ultricies nisl. 
                                Donec a ante tempus nunc aliquam tempor nec sit amet tellus. 
                                Sed auctor rutrum lorem, et consequat purus tempor vel. 
                                Fusce malesuada pharetra lacus, ac sagittis felis tempor in. 
                                Vivamus sed augue congue, sagittis urna lobortis, imperdiet nisi. 
                                Duis imperdiet sollicitudin velit at faucibus. 
                                Aenean quis justo feugiat, scelerisque risus in, hendrerit.
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="carousel-cell">
                    <a href="./6">
                        <div class="card">
                            <div class="card-img-top">
                                <video class="img-fluid" playsinline autoplay muted loop>
                                    <source src="./assets/video/video3.mp4" type="video/mp4">>
                                </video>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pt-3">Playfulness</h4>
                                Nunc semper neque in orci porta, ac consectetur turpis cursus. 
                                Duis et vestibulum nisi. Sed gravida egestas porttitor. 
                                Morbi molestie diam neque, sit amet laoreet neque viverra sit amet. 
                                Suspendisse vitae vulputate orci. 
                                Curabitur et nisl sed enim posuere tincidunt. 
                                Donec nibh dui, bibendum eget dictum in, aliquam a libero. 
                                Mauris dignissim sem eget leo commodo, nec vestibulum nibh lacinia.
                            </div>
                        </div>
                    </a>
                </div>
        </carousel>
    </div>
</div>
                        
                
        
             
            

         